body { 
  /* This declaration was missing an ending semi-colon. */
  background: #FFF; 
  text-align: center; 
}
p { 
  font: normal 18px/1.6 "Helvetica", Arial, sans-serif; 
  color: #464646; 
}
.id { 
  /* This declaration was missing a colon between the property and value. */
  margin-bottom: 15px; 
}
#class { 
  line-height: 1.1; 
  /* This value had mis-matched quotes, they need to both be double quotes. */
  font-family: "Roboto Slab, serif"; 
  font-weight: 300; 
}
#img { 
  border: none 
}
.org { 
  color: #54ba6a; 
  text-decoration: underline; 
  /*This style rule was missing a closing curly brace } */
}
a { 
  color: #68c6b8; 
}